*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: rgb(37, 9, 37);
    color: white;
}
nav ul{
    list-style-type: none;
}
.gameContainer{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
